body {
  margin: 0;
  font-family: sans-serif;
}

.main-content {
  opacity: 0;
  transition: opacity 3s ease;
}

body.loading {
  overflow: hidden;
  height: 100vh;
}


header {
  position: sticky;
  top: 0;
  background-color:rgba(0, 32, 91, 0.3);
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.logo img {
  height: 40px;
}

/* ナビゲーション全体を左右に分ける */
.nav-links {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-left: 20px; /* ロゴとの間に少し余白 */
}

/* 左側リンク（Top, About, News） */
.nav-left a {
  color: white;
  text-decoration: none;
  margin-right: 50px;
  font-weight: bold;
}

/* 右側（Contact） */
.nav-right a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* 共通 hover 効果 */
.nav-left a:hover,
.nav-right a:hover {
  text-decoration: underline;
}


.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  transition: background-image 1s ease-in-out;
  z-index: 1;
  margin-top: -70px;
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 10px;
}


/*画面切り替えのエフェクト*/
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace.pace-active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #719de4;
}

.pace.pace-inactive .pace-progress {
	opacity: 0;
	transition: opacity 0s ease;
}

.pace .pace-progress {
	position: fixed;
	z-index: 2000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pace .pace-progress:after {
	display: block;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	content: attr(data-progress-text);
	font-family: "Helvetica Neue", sans-serif;
	font-weight: bold;
	font-size: 5rem;
	line-height: 1;
	text-align: center;
	color: #99daf6;
}


/*About section*/
/* .about-section {
  padding: 60px 20px;
  background-color: #f0f8ff;
  text-align: center;
  opacity: 1; /*後で０に修正
  transform: translateY(0px);
  transition: opacity 1s ease, transform 1s ease;
} */
.about-section {
  padding: 60px 20px;
  background-color: #f0f8ff;
  text-align: center;
  opacity: 0; /*後で０に修正*/
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.about-section h2 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #00205b;
}

.about-section p {
  max-width: 800px;
  margin: 0 auto 20px auto;
  font-size: 1.1em;
  line-height: 1.8;
  color: #333;
}

.about-section.visible {
  opacity: 1;
  transform: translateY(0);
}